@using BoilerWeb.HtmlHelpers;
@model BoilerWeb.BoilerInfoModel;
@{
    Layout = "_Layout";
    ViewBag.Title = "Текущее состояние котла";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}
@section Scripts {
    <script type="text/javascript" src="~/charts/loader.js"></script>
    <script type="text/javascript" src="~/js/index.js"></script>
    <script>
        boilerinfo.chart.data.description.outdoor = @Html.Raw(Json.Serialize(BoilerWeb.BoilerInfoDescription.OutdoorSensors.OrderBy(x => x.Key).Select(x => Model.Sensors.FirstOrDefault(s=>s.SensorId==x.Key).Warning? $"(!) {x.Value}" : x.Value)));
        boilerinfo.chart.data.description.indoor = @Html.Raw(Json.Serialize(BoilerWeb.BoilerInfoDescription.IndoorSensors.OrderBy(x => x.Key).Select(x => Model.Sensors.FirstOrDefault(s=>s.SensorId==x.Key).Warning? $"(!) {x.Value}" : x.Value)));
        boilerinfo.chart.data.description.boiler = @Html.Raw(Json.Serialize(BoilerWeb.BoilerInfoDescription.BoilerSensors.OrderBy(x => x.Key).Select(x => Model.Sensors.FirstOrDefault(s=>s.SensorId==x.Key).Warning? $"(!) {x.Value}" : x.Value)));
        boilerinfo.chart.data.description.humidity = @Html.Raw(Json.Serialize(BoilerWeb.BoilerInfoDescription.HumiditySensors.OrderBy(x => x.Key).Select(x => Model.Sensors.FirstOrDefault(s=>s.SensorId==x.Key).Warning? $"(!) {x.Value}" : x.Value)));
        boilerinfo.chart.data.description.info = @Html.Raw(Json.Serialize(BoilerWeb.BoilerInfoDescription.InfoSensors.OrderBy(x => x.Key).Select(x => Model.Sensors.FirstOrDefault(s=>s.SensorId==x.Key).Warning? $"(!) {x.Value}" : x.Value)));
        boilerinfo.chart.data.description.state = @Html.Raw(Json.Serialize(BoilerWeb.BoilerInfoDescription.BoilerStateSensors.OrderBy(x => x.Key).Select(x => Model.Sensors.FirstOrDefault(s=>s.SensorId==x.Key).Warning? $"(!) {x.Value}" : x.Value)));

        boilerinfo.chart.data.values.outdoor = @Html.Raw(Json.Serialize(Model.Sensors
                                              .Where(si=>BoilerWeb.BoilerInfoDescription.OutdoorSensors.Keys.Contains(si.SensorId))
                                              .OrderBy(si => si.SensorId)
                                              .Select(si=>Math.Round(si.Last, 1))));
        boilerinfo.chart.data.values.indoor = @Html.Raw(Json.Serialize(Model.Sensors
                                              .Where(si=>BoilerWeb.BoilerInfoDescription.IndoorSensors.Keys.Contains(si.SensorId))
                                              .OrderBy(si => si.SensorId)
                                              .Select(si=>Math.Round(si.Last, 1))));
        boilerinfo.chart.data.values.boiler = @Html.Raw(Json.Serialize(Model.Sensors
                                              .Where(si=>BoilerWeb.BoilerInfoDescription.BoilerSensors.Keys.Contains(si.SensorId))
                                              .OrderBy(si => si.SensorId)
                                              .Select(si=>Math.Round(si.Last, 1))));
        boilerinfo.chart.data.values.humidity = @Html.Raw(Json.Serialize(Model.Sensors
                                              .Where(si=>BoilerWeb.BoilerInfoDescription.HumiditySensors.Keys.Contains(si.SensorId))
                                              .OrderBy(si => si.SensorId)
                                              .Select(si=>Math.Round(si.Last, 1))));
        boilerinfo.chart.data.values.info = @Html.Raw(Json.Serialize(Model.Sensors
                                              .Where(si=>BoilerWeb.BoilerInfoDescription.InfoSensors.Keys.Contains(si.SensorId))
                                              .OrderBy(si => si.SensorId)
                                              .Select(si=>Math.Round(si.Last, 1))));
        boilerinfo.chart.data.values.state = @Html.Raw(Json.Serialize(Model.Sensors
                                              .Where(si=>BoilerWeb.BoilerInfoDescription.BoilerStateSensors.Keys.Contains(si.SensorId))
                                              .OrderBy(si => si.SensorId)
                                              .Select(si=>Math.Round(si.Last, 3))));
        boilerinfo.chart.data.requiredBoiler = @(Math.Round(Model.BoilerRequired, 1));
    </script>
}

<table>
    <tr>
        <td class="value">
            <span>
                @(Model.BoilerRequired == BoilerWeb.BoilerInfoModel.DefaultValue ? "Запуск" : (Model.IsHeating ? "Нагрев" : "Охлаждение"))
            </span>
            <span>@BoilerInfoHelper.ConvertToLocal(Model.ReciveTime).ToString("dd-MM-yy HH:mm:ss")</span>
        </td>
    </tr>
    <tr>
        <td class="description">Температура на улице</td>
    </tr>
    <tr>
        <td>
            <div style="display: flex; width: 750px; margin: auto;">
                <div class="charts-group" style="width: 450px; height: 180px;" id="outdoor_charts" onclick="location.href='@Url.Action("OutdoorHistory")';"></div>
                <div class="charts-group" style="width: 300px; height: 180px;" id="info_charts" onclick="location.href='@Url.Action("InfoHistory")';"> </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="description">Температура дома</td>
    </tr>
    <tr>
        <td> <div class="charts-group" style="width: 900px; margin: auto;" id="indoor_charts" onclick="location.href='@Url.Action("IndoorHistory")';" /> </td>
    </tr>
    <tr>
        <td class="description">Котел</td>
    </tr>
    <tr>
        <td>
            <div style="display: flex; width: 750px; margin: auto;">
                <div class="charts-group" style="width: 450px; height: 180px;" id="boiler_charts" onclick="location.href='@Url.Action("BoilerHistory")';" ></div>
                <div class="charts-group" style="width: 150px; height: 180px;" id="state_charts" onclick="location.href='@Url.Action("StateHistory")';" > </div>
                <div style="width: 150px; height: 150px;">
                    @if(Model.IsBoilerOn) {
                        <img src="~/PNG/fire.png" width="120" height="120" alt="" loading="lazy" style="margin-top: 15px;">
                    } else {
                        <img src="~/PNG/no_fire.png" width="120" height="120" alt="" loading="lazy" style="margin-top: 15px;">
                    }
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="description">Влажность дома</td>
    </tr>
    <tr>
        <td> <div class="charts-group" style="width: 600px; margin: auto;" id="humidity_charts" onclick="location.href='@Url.Action("HumidityHistory")';" /> </td>
    </tr>
</table>
